<log4j:configuration><appender name="main" class="org.apache.log4j.ConsoleAppender"><layout class="org.apache.log4j.PatternLayout"><param name="ConversionPattern" value="%d{HH:mm:ss} %5p %m%n"/></layout></appender><category name="org.repodriller"><priority value="INFO"/><appender-ref ref="main"/></category><category name="/"><priority value="INFO"/><appender-ref ref="main"/></category></log4j:configuration>